* {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
    height: 100vh;
    padding: 20px;

    text-align: center;

    background: url('img/background.jpg');
    background-repeat: no-repeat center;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    height: 500px;
    width: 300px;
}

.buttons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.button {
    width: 234px;
    height: 48px;
    background: #9C0332;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}
  
.button:hover {
    cursor: pointer;
}

.input {
    width: 234px;
    height: 48px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    border: none;

    background-color: lightgray;
}
